<title><%= title %></title>
<%= meta :description %>
<%= meta :author %>

<%= link_head rel: "canonical", href: page.canonical_url %>

<%= link_head(rel: "prev", href: page.previous_page.canonical_url) if page.previous_page %>
<%= link_head(rel: "next", href: page.next_page.canonical_url) if page.next_page %>

<%# TODO: JSON-LD Site and post metadata for richer indexing %>
<%# TODO: Open Graph title, description, site title, and URL (for Facebook, LinkedIn, etc.) %>
<%# TODO: Twitter Summary Card metadata %>
