---
title: "2-45.pm: tech articles by Ronan Limon Duparcmeur"
domain: https://2-45.pm/articles
author: Ronan Limon Duparcmeur
email: ronan@2-45.pm
feed_url: https://2-45.pm/articles/feed.xml
rss_length: 15
...

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <% posts = site.categories.articles.first(rss_length) %>

  <id><%= domain + "/" %></id>
  <title><%= title %></title>
  <updated><%= posts.first.date.iso8601 %></updated>

  <author>
    <name><%= author %></name>
    <email><%= email %></email>
  </author>

  <%= link_head href: feed_url, rel: "self" %>
  <%= link_head href: domain %>

  <rights> © <%= author %> - <%= email %> </rights>
  
  <% for post in posts %>
    <entry>
      <id><%= domain %><%= post.url %></id>
      <title><%= h post.title %></title>
      <updated><%= post.date.iso8601 %></updated>

      <%= link_head rel: "alternate", href: "#{domain}#{post.url}" %>

      <published><%= post.date.iso8601 %></published>
      <content type="html"><%= h post.subrender %></content>
    </entry>
  <% end %>
</feed>
